@import '../../index.scss';

.AppTechnologies {
    @include dimension(100%, 100%);
    margin-bottom: 50px;

    .AppTechnologiesTitle {
        text-align: center;
        padding-top: 50px;
    }

    .AppTechnologiesContainer {
        @include dimension(90%, auto);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 600px;
        margin: auto;
        padding-top: 20px;
        margin-bottom: 50px;

        .AppTechnologiesSubTitle {
            padding-bottom: 10px;
        }
    }
}

@media screen and (min-width: 900px) {

    .AppTechnologiesContainer {
        max-width: 900px !important;
    }
}