@import '../../index.scss';

.AppContact {
    @include dimension(100%, auto);
    background-color: $midnightBlue;
    margin-top: -4px;
    color: $gainsboro;
    padding-bottom: 50px;
    .AppContactTitle {
        text-align: center;
        padding-top: 50px;
    }
    .AppContactText {
        width: 65%;
        max-width: 600px;
        text-align: justify;
        line-height: 19px;
        margin: auto;
        margin-bottom: 30px;
        .AppContactTextSpan {
            text-decoration: none;
            color: $gainsboro;
            cursor: $pointerCursor;
        }
    }
    .AppContactFormContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 500px;
        margin: auto;
        gap: 20px;
        .AppContactPicture {
            width: 90%;
            max-width: 400px;
            margin: auto;
        }
    }
}

@media screen and (min-width: 900px) {
    .AppContactFormContainer {
        flex-direction: row-reverse !important;
        justify-content: space-around !important;
        align-items: center !important;
        max-width: 1100px !important;
        margin: auto;
        padding-top: 30px;
        gap: 10px !important;
        .AppContactPicture {
            width: 40% !important;
        }
    }
}