@import "./index.scss";

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Header {
    position: relative;
    @include dimension(100vw, auto);

    .HeaderTriangle {
      display: inline-block;
      height: 0;
      width: 0;
      border-top: calc(65px + 3vw) solid $whiteSmoke;
      border-right: 50vw solid $midnightBlue;
      border-left: 50vw solid $midnightBlue;
    }
  }

  .MainSite {
    @include dimension(100vw, auto);
    margin-top: -4px;

    .TechnologiesSeparator {
      display: inline-block;
      height: 0;
      width: 0;
      border-top: 2vw solid $whiteSmoke;
      border-right: 100vw solid $blueIndigo;
    }

    .ProjectsSeparator {
      display: inline-block;
      height: 0;
      width: 0;
      border-top: 2vw solid $whiteSmoke;
      border-left: 100vw solid $midnightBlue;
    }
  }

  .Footer {
    @include dimension(100vw, 120px);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 600px) {
  .Footer {
    padding-bottom: 0 !important;
  }
}