@import "./index.scss";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Header {
    @include dimension(100vw, auto);
    border: 1px solid black;
  }
}

