// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$roboto: 'Roboto', sans-serif;

// Color Palette
$whiteSmoke: #F0F2F3;
$gainsboro: #DCDCDC;
$blueIndigo: #515A78;
$midnightBlue: #222D47;
$mustardYellow: #d5a419;

// Cursors
$defaultCursor: url("./assets/images/cursors/cursor-default.png"), default;
$pointerCursor: url("./assets/images/cursors/cursor-pointer.png"), pointer;
$textCursor: url("./assets/images/cursors/cursor-text.png"), text;

// Mixins
@mixin lightenBackground($color) {
  background-color: lighten($color, 10%);
}

@mixin dimension($w, $h) {
  width: $w;
  height: $h;
}

@mixin absolutePosition($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin absolutePositionRight($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin button($w, $h, $bkg, $border) {
  background-color: $bkg;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $w;
  height: $h;
  border: $border;
  border-radius: 5px;
  font-family: $roboto;
  font-size: 1rem;
}


// Default SCSS config
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: $defaultCursor;
  font-family: $roboto;
  font-size: 14px;
}

body {
  background-color: $whiteSmoke;
  color: $midnightBlue;
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Default text config
h1 {
  margin-top: 0;
  font-size: 2.5rem;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
}

h3 {
  margin-top: 0;
  font-size: 1.75rem;
}

h4 {
  margin-top: 0;
  font-size: 1.5rem;
}

h5 {
  margin-top: 0;
  font-size: 1.25rem;
}

h6 {
  margin-top: 0;
  font-size: 1rem;
}

p,
span,
a,
input,
textarea {
  margin: 0;
  font-size: 1rem;
}

/* Modification of the scrollbar properties */
/* Works on Firefox */
* {
  scrollbar-width: 2px;
  scrollbar-color: $mustardYellow;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
  margin-left: 5px;
  background-color: $mustardYellow;
}

*::-webkit-scrollbar-track {
  background: $midnightBlue;
}

*::-webkit-scrollbar-thumb {
  background-color: $mustardYellow;
  border: none;
}

// Media-queries
@media screen and (min-width: 900px) {
  html {
    font-size: 16px;
  }
}